/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_reset';
@import '_mixins';

* {
  font-family: $mainFont;
  color: $white;
}

body {
  overscroll-behavior: none;
  font-size: 1.5em;
  background-color: $blue;
}

h1 {
  font-weight: $bold;
  margin: 5%;
  font-size: 2em;
}

h2 {
  font-weight: $bold;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 1em;
}

.log-in {
  @include flexbox(column, wrap, normal, normal, center);
}

.bookings-display {
  @include flexbox(column, normal, normal, normal, normal);
  margin: 0 2%;
}

.dash-board {
  @include flexbox(row, normal, normal, space-betwen, normal);
  height: 100vh;
}


.bookings-display {
  flex: 1;
  padding-left: .5em;
}

.amount-spent {
  align-self: flex-end;
  margin-bottom: 2em;
}

.room-search {
  @include flexbox(column, nowrap, normal, normal, center);
  flex: 1;
}

button,
input,
select {
  font-size: 1em;
  height: 2em;
  border-radius: 2px;
  border: none;
  margin: 1%;
  min-width: 10em;
  color: $black;
}

label {
  text-align: center;
}

button {
  cursor: pointer;
  background-color: $sunshineYellow;
  color: $blueTeal;
  border-radius: 0.25em;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 1.2em;

  &:hover {
    background-color: $gold;
    color: $white;
    transform: scale(1.1);
  }
}

.back-to-dash-btn {
  margin: 0 5%;
}

label {
  font-size: 1.25em;
}

input {
  color: $black;
}

.login-error {
  font-style: italic;
  margin: 2% 0;
}

.available-rooms {
  @include flexbox(column, nowrap, normal, normal, normal);
  height: 100vh;
}

.room-cards {
  @include flexbox(row, wrap, normal, normal, normal);
}

.available-room-card {
  width: 15em;
  height: 15em;
  margin: 1em 0 0 1em;
}

.booking-a-room {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected-room {
  width: 25em;
  height: 25em;
}

li {
  list-style: none;
  width: fit-content;
  margin-left: 1em;
}

.hidden {
  display: none;
}