/* This is an example of how to import a partial scss file*/
@import '_variables';

* {
  border: 1px solid blue;
}

body {
  overscroll-behavior: none;
  margin: 0;
  font-size: 1.55em;
  // background: $primary-background;
}

h2 {
  height: fit-content;
  margin-left: .5em;
}

.log-in {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

div {
  display: flex;
  flex-direction: column;
}

.dash-board {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

h1 {
  height: fit-content;
  margin-left: 0 1em;
}

.bookings-display {
  flex: 1;
  padding-left: .5em;
}

.amount-spent {
  align-self: flex-end;
  margin-bottom: 2em;
}

.room-search {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

button, input, select {
  width: fit-content;
  font-size: 1em;
  height: 2em;
  border-radius: 2px;
}

label {
  font-size: 1.25em;
}

p {
  color: red;
}

.available-rooms {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.available-room-card {
  width: 15em;
  height: 15em;
  margin: 1em 0 0 1em;
}

.booking-a-room {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected-room {
  width: 25em;
  height: 25em;
}

li {
  list-style: none;
  width: fit-content;
  margin-left: 1em;
}

.hidden {
  display: none;
}